@font-face {
    :global {
        font-family: 'HelveticaCyrLight';
        src: url('/fonts/HelveticaNeueCyr-Light.ttf'); 
    }
}
$HelveticaCyrLight: 'HelveticaCyrLight', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrBold';
        src: url('/fonts/HelveticaNeueCyr-Bold.ttf'); 
    }
}
$HelveticaCyrBold: 'HelveticaCyrBold', sans-serif;

$blue: #4e9ded;
$darkgrey: #313131c2;
$grey: #8e8e8ec0;
$white: #ffffff;
$black: #2f2f29;

* {
    padding: 0;
    margin: 0;
}