@import '../common.scss';

.money {
    font-family: $HelveticaCyrBold;
    font-weight: bolder;
    .dollar {
        color: $blue;
        padding-right: 0.5vw;
    }
    color: $white;
    text-shadow: 1px 1px 2px $black;
    font-size: 2.2vw;
    position: absolute;
    top: 8vh;
    right: 1vw;
}

.hot-keys {
    p {
        span {
            font-family: $HelveticaCyrLight;
            font-size: 0.9em;
        }
        i {
            display: block;
            float: right;
        }
        color: $white;
        background-color: $darkgrey;
        padding: 0.5vh 0.6vw;
        margin: 1vh 0;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    min-width: 45px;
    width: 3vw;
    position: absolute;
    top: 35vh;
    right: 0;
}

.stats {
    font-family: $HelveticaCyrLight;
    .level-info, .satiety-info {
        padding-bottom: 1vh;
    }
    .level-info, .satiety-info, .thirst-info {
        span {
            display: block;
            float: right;
        }
    }
    color: $white;
    text-shadow: 1px 1px 2px $black;
    min-width: 150px;
    position: absolute;
    bottom: 2vh;
    left: 20vw;    
}

.progress {
    .progress-bar {
        background-color: $blue;
        height: inherit;
        border-radius: inherit;
        width: 0%;
    }
    width: 100%;
    height: 4px;
    padding: 1px;
    margin-top: 2px;
    border-radius: 1em;
    background-color: $darkgrey;   
}